
@font-face{
  font-family:'Exo';
  src: url('Exo-Light.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

/* -------------------- LAYOUT -------------------- */
html,
body {
  height: auto;
  min-height: 100%;
}
body {
  font-size: 14px;
  font-family: 'SourceSansPro', Arial, sans-serif;
  color: white;
  max-width: 360px;
  margin-left: 0px;
  margin-top: -50px;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0px;

  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.header{
  width: 330px;
  height: 120px;
  margin-left: 20px;
  margin-top: 80px;
}

.logo{
  margin-top: 0px;
  margin-left: 20px;
}

h1{
  margin-top: 0px;
  width: 330px;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  font-family: 'Exo', sans-serif;
}

#info{
  opacity: 0.8;
  width: 300px;
  height: 450px;
  margin-left: 40px;
}

p{
  font: 30px 'Exo', sans-serif, black;
  width: 20px;
}

.datum{
  width: 250px;
  height: 70px;
  margin-top: 0px;
  margin-left: 20px;
  color: black;
}

#date{
  font: 30px 'Exo', sans-serif;
  margin-left: 90px;
  margin-top: 30px;
}

.flex-containerDatum{
  display: flex;
  z-index: 20;
  padding: 5px;
}

.flex-itemTitelDatum{
  flex: wrap;
}

.flex-itemDate{
  flex: wrap;
  margin-left: 100px;
}

.pictureMomentOfDay img{
  width: 100px;
  height: 100px;
  margin-left: 100px;
  margin-top: 50px;
}

.clock{
  color: white;
  font-family: 'Exo', sans-serif;
  font-size: 30px;
  margin-left: 90px;
  margin-top: 30px;
}

.momentVanDeDag p{
  width: 300px;
  text-align: center;
  margin-top: 50px;
  color: black;
}

/* -------------------- LAYOUT -------------------- */


/* -------------------- MEDIA SIZE -------------------- */

/*Breakpoint naar tablet*/
@media only screen and (min-width: 768px){

  body{
    max-width: 768px;
    font-size: 25px;
    height: auto;
  }

  .header{
    margin-left: 250px;
  }

  h1{
    margin-left: -20px;
  }

  #info{
    width: 500px;
    height: 700px;
    margin-left: 150px;
    margin-top: 20px;
  }

  .datum{
    margin-left: 120px;
    margin-top: 50px;
  }

  .pictureMomentOfDay img{
    width: 150px;
    height: 150px;
    margin-left: 170px;
    margin-top: 80px;
  }

  .clock{
    color: white;
    font-family: 'Exo', sans-serif;
    font-size: 30px;
    margin-left: 180px;
    margin-top: 80px;
  }

  .momentVanDeDag p{
    width: 400px;
    margin-top: 80px;
    margin-left: 50px;
  }

/*Breakpoint naar laptop*/
@media only screen and (min-width: 1366px){

  body{
    width: 1366px;
  }

  body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .logo{
    margin-left: -230px;
  }

  h1{
    margin-left: 800px;
    font-size: 30px;
    margin-top: -50px;
  }

  #info{
    width: 800px;
    height: 400px;
    margin-left: -300px;
    margin-top: 250px;
  }

  .flex-containerInfo{
    display: flex;
  }

  .box1{
    grid-column: 1/2;
    grid-row: 2;
    width: 400px;
    margin-left: 40px;
  }

  .box2{
    grid-column: 2/2;
    grid-row: 3;
    margin-left: -100px;
    margin-top: 50px;
  }

  .box3{
    grid-column: 1/2;
    grid-row: 4;
    margin-left: -620px;
    margin-top: 200px;
  }

  .box4{
    grid-column: 1/2;
    grid-row: 6;
    margin-top: 220px;
    margin-left: -40px;
    position: fixed
  }

  /*Breakpoint naar desktop*/
  @media only screen and (min-width: 1920px) and (max-width: 1920px){

    body{
      width: 1920px;;
      max-width: 1920px;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
    }

    h1{
      width: 900px;
      text-align: center;
      margin-left: 1000px;
    }

    #info{
      width: 1000px;
      height: 400px;
      margin-left: -150px;
      margin-top: 380px;
    }

    .pictureMomentOfDay img{
      width: 200px;
      height: 200px;
    }

    .box2{
      margin-top: 0px;
      margin-left: 50px;
    }

    .box3{
      margin-left: -825px;
      margin-top: 200px;
    }

    .box4{
      margin-top: 220px;
      margin-left: -40px;
    }


  /* -------------------- MEDIA SIZE -------------------- */
